.card {
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    padding: 15px 13px;
    margin-bottom: 15px;
    background: #f1f5f9;
}

.mat-expansion-panel {
    background-color: #f5f5f5;
}

.mat- .mat-panel-title,
.mat-panel-description,
span {
    display: block;
}

.wrapper {
    background-color: white;
    border: #0e0d0d;
    padding: 5px;
    display: block;
}

.label {
    text-align: center;
    // color: #ffffff;
    vertical-align: baseline;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    font-size: 90%;
    font-weight: 500;
    display: inline-block;
    line-height: normal;
}

.main-content {
    padding: 0.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-condition-delete {
    width: 2%;
}
.join-condition-delete mat-icon {
    color: #d16846;
    display: block;
    cursor: pointer;
}

.join-table-row {
    width: 98%;
    display: flex;
    gap: 5px;
    * {
        width: 100%;
    }
    ::ng-deep
        .mat-form-field.mat-form-field-appearance-fill
        .mat-form-field-wrapper {
        margin-bottom: 0px !important;
    }
}

.join-conditions {
    border: 1px dashed #e2e8f0;
    border-radius: 5px;
    padding: 15px 13px;
    margin-bottom: 15px;
    background: #f7f8f9;
}

.join-condition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-button {
    padding: 4px 12px !important;
    font-size: 12px;
    line-height: 1.5 !important;
    min-width: auto;
}
