.card {
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    padding: 15px 13px;
    margin-bottom: 15px;
    background: #f1f5f9;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-by-row {
    width: 98%;
    display: flex;
    gap: 5px;
    * {
        width: 100%;
    }
    ::ng-deep
        .mat-form-field.mat-form-field-appearance-fill
        .mat-form-field-wrapper {
        margin-bottom: 0px !important;
    }
}

.order-by-delete {
    width: 2%;
}
.order-by-delete mat-icon {
    color: #d16846;
    display: block;
    cursor: pointer;
}
