@if (selectedGroup) {
  <div class="container">
    <div>{{selectedGroup.name}}</div>
    
     <mat-form-field>
      <mat-label>Select table type</mat-label>
      <mat-select (selectionChange)="typeChange($event.value)" [(value)]="selectedGroup.properties['type']">
        <mat-option value="left-table">Source Table</mat-option>
        <mat-option value="right-table">Right Table</mat-option>
      </mat-select>
    </mat-form-field> 
    <button mat-stroked-button (click)="removeTable()">Remove</button>
  </div>
}

@if (selectedConnection()) {
  <div class="container" style="width:400px;display: inline-block;">
    <mat-form-field aria-expanded="true">
      <mat-label>Select join type</mat-label>
      <mat-select (selectionChange)="changeJoin($event.value)" [(value)]="selectedConnection()!.name">
        @for (item of joinTypes; track item.value) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="addJoinCondition()">Add Join Condition</button>
    <table class="table">
      <thead>
        <tr>
          <th>Left Column</th><th>Operator</th><th>Right Column</th><th></th>
        </tr>
      </thead>
      <tbody>
      @for (join of selectedConnection()?.joinCondistins; track join.id) {
      <tr class="row">
        <td>
          <vd-single-select-dropdown 
            [showLabel]="false"
            [defaultDropDownData]="'Select a column'"
            [selectedData]="join.rightColumn"
            (selectedItem)="changeRight($event, join)"
            [inputData]="getTableColumns(selectedConnection()?.from!)"
          />
        </td>
        <td>
          <vd-single-select-dropdown 
            [showLabel]="false"
            [defaultDropDownData]="'Select an operator'"
            [selectedData]="join.operator"
            (selectedItem)="changeOperator($event, join)"
            [inputData]="operators"
          />
         
        </td>
        <td>
          <vd-single-select-dropdown 
            [showLabel]="false"
            [defaultDropDownData]="'Select a column'"
            [selectedData]="join.leftColumn"
            (selectedItem)="changeLeft($event, join)"
            [inputData]="getTableColumns(selectedConnection()?.to!)"
          />
         
        </td>
        <td>
          <mat-icon title="Delete" (click)="deleteJoinCondition(join)" matTooltip="delete">delete</mat-icon>
        </td>
      </tr>
      }
    </tbody>
    </table>
    <button mat-stroked-button (click)="removeConnection()">Remove</button>
  </div>
}

