@if (selectedGroup) {
  <div class="container">
    <div>{{selectedGroup.name}}</div>
    
     <mat-form-field>
      <mat-label>Select table type</mat-label>
      <mat-select (selectionChange)="typeChange($event.value)" [(value)]="selectedGroup.properties['type']">
        <mat-option value="left-table">Source Table</mat-option>
        <mat-option value="right-table">Right Table</mat-option>
      </mat-select>
    </mat-form-field> 
    <button mat-stroked-button (click)="removeTable()">Remove</button>
  </div>
}

@if (selectedConnection()) {
  <div class="container">
    <mat-form-field>
      <mat-label>Select join type</mat-label>
      <mat-select (selectionChange)="changeJoin($event.value)" [(value)]="selectedConnection()!.name">
        <mat-option value="">Empty</mat-option>
        @for (item of joinTypes; track item.value) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Select join operator</mat-label>
      <mat-select (selectionChange)="changeOperator($event.value)" [(value)]="selectedConnection()!.operator">
        @for (item of operators; track item.value) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <button mat-stroked-button (click)="removeConnection()">Remove</button>
  </div>
}

