::ng-deep .mat-horizontal-stepper-header {
    width: 100% !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
    position: sticky;
    top: 0;
    z-index: 101;
    background: #f4faff !important;
    pointer-events: none;
}

::ng-deep .mat-horizontal-content-container {
    padding: 5px 5px 5px 13px !important;
    overflow: scroll !important;
}

::ng-deep .mat-step-header[aria-selected="true"] {
    background-color: #bcdffb !important;
}
